<a href="https://colab.research.google.com/github/SomenSin/Project/blob/main/Credit_card_fraud_detectionipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19898 entries, 0 to 19897
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    19898 non-null  int64
 1   V1      19898 non-null  float64
 2   V2      19898 non-null  float64
 3   V3      19898 non-null  float64
 4   V4      19898 non-null  float64
 5   V5      19898 non-null  float64
 6   V6      19898 non-null  float64
 7   V7      19898 non-null  float64
 8   V8      19898 non-null  float64
 9   V9      19898 non-null  float64
 10  V10     19898 non-null  float64
 11  V11     19897 non-null  float64
 12  V12     19897 non-null  float64
 13  V13     19897 non-null  float64
 14  V14     19897 non-null  float64
 15  V15     19897 non-null  float64
 16  V16     19897 non-null  float64
 17  V17     19897 non-null  float64
 18  V18     19897 non-null  float64
 19  V19     19897 non-null  float64
 20  V20     19897 non-null  float64
 21  V21     19897 non-null  float64
 22  V22     19897 non-null  float64
 23  V23     19897 non-null  float64
 24  V24     19897 non-null  float64
 25  V25     19897 non-null  float64
 26  V26     19897 non-null  float64
 27  V27     19897 non-null  float64
 28  V28     19897 non-null  float64
 29  Amount  19897 non-null  float64
 30  Class   19897 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 4.7 MB

In [ ]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    19812
1.0       85
Name: Class, dtype: int64

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
# statistical measures of the data
legit.Amount.describe()

count    19812.000000
mean        70.169855
std        205.091118
min          0.000000
25%          5.900000
50%         16.070000
75%         59.950000
max       7879.420000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      85.000000
mean       93.869647
std       261.736641
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,15483.312841,-0.207233,0.215159,0.803126,0.250998,-0.137392,0.104262,-0.108931,0.003328,0.652123,...,0.036041,-0.050458,-0.145393,-0.036602,0.011905,0.121909,0.032495,0.010624,0.006940,70.169855
1.0,17436.164706,-8.862174,6.570214,-12.622087,6.343007,-6.187820,-2.567646,-8.600077,4.519437,-3.041592,...,0.725080,0.536833,-0.395312,-0.385599,-0.275306,0.359543,0.180456,0.907255,0.093985,93.869647

In [ ]:
legit_sample = legit.sample(n=492)

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9604,14433,1.242220,-0.182521,0.359186,-0.107926,-0.082047,0.612601,-0.692480,0.200304,1.664620,...,-0.072498,0.020027,-0.133488,-1.139804,0.235144,1.117833,-0.083159,-0.021089,15.95,0.0
6741,8463,1.151700,-0.011932,1.170528,1.134889,-0.707808,-0.002691,-0.506230,0.002535,2.141613,...,-0.243020,-0.034244,0.016981,0.427332,0.397987,0.497480,-0.009027,0.006888,0.01,0.0
2588,2117,-0.276667,0.406742,1.864546,0.863260,-0.851911,0.365805,-0.115018,0.056082,-1.533142,...,-0.044813,0.448851,-0.030839,0.068998,-0.514727,-0.053109,0.132177,0.155059,50.00,0.0
5765,6147,-1.106794,1.004994,2.477600,-0.006837,0.032962,0.914307,0.077882,0.074762,1.702131,...,-0.189986,0.178550,-0.222266,-0.297374,-0.109053,0.252875,-0.005595,0.012444,11.50,0.0
16848,28229,0.795396,-0.968512,0.962355,0.319765,-0.939456,0.950970,-0.749004,0.479055,0.932636,...,-0.043759,-0.190284,0.007650,-0.224302,-0.109469,0.939032,-0.032921,0.022170,152.87,0.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0     85
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,14546.302846,-0.300132,0.214838,0.811907,0.346079,-0.085869,0.158210,-0.105912,0.018620,0.719447,...,0.042599,-0.053547,-0.199831,-0.030275,0.030614,0.083879,0.018991,0.022853,-0.000034,74.848882
1.0,17436.164706,-8.862174,6.570214,-12.622087,6.343007,-6.187820,-2.567646,-8.600077,4.519437,-3.041592,...,0.725080,0.536833,-0.395312,-0.385599,-0.275306,0.359543,0.180456,0.907255,0.093985,93.869647

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']
print(X)

        Time         V1         V2         V3        V4         V5        V6  \
9604   14433   1.242220  -0.182521   0.359186 -0.107926  -0.082047  0.612601
6741    8463   1.151700  -0.011932   1.170528  1.134889  -0.707808 -0.002691
2588    2117  -0.276667   0.406742   1.864546  0.863260  -0.851911  0.365805
5765    6147  -1.106794   1.004994   2.477600 -0.006837   0.032962  0.914307
16848  28229   0.795396  -0.968512   0.962355  0.319765  -0.939456  0.950970
...      ...        ...        ...        ...       ...        ...       ...
17480  28755 -30.552380  16.713389 -31.103685  6.534984 -22.105532 -4.977692
18466  29526   1.102804   2.829168  -3.932870  4.707691   2.937967 -1.800904
18472  29531  -1.060676   2.608579  -2.971679  4.360089   3.738853 -2.728395
18773  29753   0.269614   3.549755  -5.810353  5.809370   1.538808 -2.269219
18809  29785   0.923764   0.344048  -2.880004  1.721680  -3.019565 -0.639736

              V7         V8        V9  ...       V20       V21       V22  \
9604   -0.692480   0.200304  1.664620  ... -0.110717 -0.072498  0.020027
6741   -0.506230   0.002535  2.141613  ... -0.182625 -0.243020 -0.034244
2588   -0.115018   0.056082 -1.533142  ... -0.303230 -0.044813  0.448851
5765    0.077882   0.074762  1.702131  ...  0.301528 -0.189986  0.178550
16848  -0.749004   0.479055  0.932636  ...  0.124002 -0.043759 -0.190284
...          ...        ...       ...  ...       ...       ...       ...
17480 -20.371514  20.007208 -3.565738  ...  1.733644  1.816520 -2.288686
18466   1.672734  -0.300240 -2.783011  ... -0.030880 -0.106994 -0.250050
18472   1.987616  -0.357345 -2.757535  ... -0.089062 -0.063168 -0.207385
18773  -0.824203   0.351070 -3.759059  ...  0.310525  0.371121 -0.322290
18809  -3.801325   1.299096  0.864065  ...  0.170872  0.899931  1.481271

            V23       V24       V25       V26       V27       V28  Amount
9604  -0.133488 -1.139804  0.235144  1.117833 -0.083159 -0.021089   15.95
6741   0.016981  0.427332  0.397987  0.497480 -0.009027  0.006888    0.01
2588  -0.030839  0.068998 -0.514727 -0.053109  0.132177  0.155059   50.00
5765  -0.222266 -0.297374 -0.109053  0.252875 -0.005595  0.012444   11.50
16848  0.007650 -0.224302 -0.109469  0.939032 -0.032921  0.022170  152.87
...         ...       ...       ...       ...       ...       ...     ...
17480 -1.460544  0.183179  2.208209 -0.208824  1.232636  0.356660   99.99
18466 -0.521627 -0.448950  1.291646  0.516327  0.009146  0.153318    0.68
18472 -0.183261 -0.103679  0.896178  0.407387 -0.130918  0.192177    0.68
18773 -0.549856 -0.520629  1.378210  0.564714  0.553255  0.402400    0.68
18809  0.725266  0.176960 -1.815638 -0.536517  0.489035 -0.049729   30.30

[577 rows x 30 columns]

In [ ]:
print(Y)

9604     0.0
6741     0.0
2588     0.0
5765     0.0
16848    0.0
        ...
17480    1.0
18466    1.0
18472    1.0
18773    1.0
18809    1.0
Name: Class, Length: 577, dtype: float64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(577, 30) (461, 30) (116, 30)

Model Training
Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9804772234273319

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9568965517241379